<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.biglybt.android.client"
					xmlns:android="http://schemas.android.com/apk/res/android"
					xmlns:tools="http://schemas.android.com/tools"
					android:installLocation="auto"
					tools:ignore="MissingLeanbackLauncher,MissingLeanbackSupport">


	<!-- Get permission for reliable local dispatching on non-Google Play devices. -->
	<!--<uses-permission android:name="android.permission.WAKE_LOCK" />-->

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false"/>

	<application
		android:name="com.biglybt.android.client.BiglyBTApp">

		<receiver
			android:name="com.google.android.gms.analytics.AnalyticsReceiver"
			android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
			</intent-filter>
		</receiver>
		<service
			android:name="com.google.android.gms.analytics.AnalyticsService"
			android:enabled="true"
			android:exported="false"/>


		<!-- Used for Google Play Store Campaign Measurement-->
		<receiver
			android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
			android:enabled="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER"/>
			</intent-filter>
		</receiver>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>

</manifest>
