---
---

@import "{{ site.theme }}";
.inner {
  # FREEEEEDOM!
  max-width: initial;
}
img {
  padding: 0;
  margin: 0;
  border: none;
}
td {
  vertical-align: top;
} 
table {
  # Large Tables on mobile will have a back bar on the right without this
  background: #f2f2f2;
}
