---
---

@import "{{ site.theme }}";
.inner {
  // FREEEEEDOM! (IE can't do inital, but none seems to work for all)
  max-width: none;
}
img {
  padding: 0;
  margin: 0;
  border: none;
}
th {
  border: 1px solid white;
  padding: 7px;
}
td {
  vertical-align: top;
} 
tr:last-child { 
  background:#000; 
  color:#fff;
  border: 1px solid white;
  padding: 7px;
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
table {
  // Large Tables on mobile will have a back bar on the right without this
  background: #f2f2f2;
  display: block;
  overflow-x: auto;
  border: none;
}
html,body {
    max-width: unset;
  background: #f2f2f2;
}
#header_wrap {
    display: none;
}
sup {
  vertical-align: super;
}
#main_content {
  padding-top: 0
}
